@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
}
.bg4{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    filter: blur(2px);
    filter: grayscale(40%);
    filter: brightness(80%);
}

.shapka{
    display: block;
    height: 50px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 30px;
    padding:40px 0px;
}

.shapkatext{
    color:white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 0px 100px;
}

.bg1 {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index: -1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    filter: blur(2px);
    filter: grayscale(40%);
}

.flex1{
    display: flex;
    justify-content: flex-start;
    margin:0px 0px;
}
.logo {
    width:35%;
    height:15%;
    margin:150px 0px;
}
#transition{
    background-color:black;
    height:400px;
    display: flex;
    flex-direction: column;
}

.text1{
    color:aliceblue;
    font-size:30px;
    margin:110px 25px;
    font-family: 'Roboto', sans-serif;
}

.character{
    display:flex;
    justify-content:end;
}

.character1{
    width:65%;
    height:65%;
}
.shapkatext:hover{
    color:magenta;
}
.bg2{
    width:1200px;
    height:1000px;
    display: flex;
    justify-content: end;
    margin:0px 600px;
}
.bg3{
    background-color: black;
    height:400px;
}

.p2{
    color:aliceblue;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    padding:155px 25px;
    text-align:center;
}

#cs2{
    display: flex;
    justify-content: flex-start;
    margin: 0px -700px;
}

.text3{
    display:flex;
    justify-content:end;
    margin:300px 100px;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
#block2{
    display:flex;
    justify-content: center;
}

.video{
    border-radius: 10px;
    border:solid black;
    margin: 150px 150px;
}

.text4{
    text-align:center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
    padding:100px 25px;
}

.bg5{
    background-color: black;
    height:400px;
}

.text5{
    text-align:center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
    padding:-30px 25px;
}


@media only screen and (max-width:1280px){
    .character1{
        width:85%;
        height:85%;
    }
    .text1{
        color:aliceblue;
        font-size:30px;
        margin:50px 25px;
        font-family: 'Roboto', sans-serif;
    }
    #cs2{
        display: flex;
        justify-content: flex-start;
        margin: 0px -1100px;
    }
    .text6{
        width:250px;
    }
    .text3{
        margin:150px 600px;
        font-size:25px;
        font-family: 'Roboto', sans-serif;
        color:white;
        width:250px;
        
    }

}



@media (min-width:992px) and (max-width:1199px){
    .character1{
        width:90%;
        height:90%;
    }
    .shapkatext{
        color:white;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        padding: 50px 100px;
    }
    .shapka{
        display: block;
        height: 50px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color:white;
        font-size: 30px;
        padding:40px 100px;
    }
    #cs2{
        display: flex;
        justify-content: flex-start;
        margin: 0px -1300px;
    }
    .text6{
        width:250px;
        margin:-25px 25px;
    }
    .text3{
        margin:150px 800px;
        font-size:25px;
        font-family: 'Roboto', sans-serif;
        color:white;
        width:250px;
        
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .character1{
        width:110%;
        height:110%;
        margin: 0px -100px;
    }
    .text1{
        font-size:25px;
    }
    #cs2{
        display: flex;
        justify-content: flex-start;
        margin: 0px -1600px;
    }
    .text6{
        width:250px;
    }
    .text3{
        margin:150px 1000px;
        font-size:25px;
        font-family: 'Roboto', sans-serif;
        color:white;
        width:250px;
        
    }
    .bg5{
        height:500px;
        width:820px;
    }
    .text4{
        text-align:center;
        font-size:20px;
        font-family: 'Roboto', sans-serif;
        color:aliceblue;
        padding:100px 25px;
    }
    .text5{
        text-align:center;
        font-size:20px;
        font-family: 'Roboto', sans-serif;
        color:aliceblue;
        padding:-30px 25px;
    }
    .bg3{
        width:820px;
    }
    #transition{
        background-color:black;
        height:400px;
        display: flex;
        flex-direction: column;
        width:820px;
    }
    .shapka{
        display: block;
        height: 50px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color:white;
        font-size: 30px;
        padding:40px 0px;
        width:820px;
    }
    .bg4{
        display:none;
    }
    .text6{
        color:black;
    }

}

@media (max-width: 767px){

}

@media (max-width: 480px){
    .character1{
        width:161%;
        height:161%;
        margin: 0px -200px;
    }
    .text1{
        font-size:20px;
        
    }
    #cs2{
        display: flex;
        justify-content: flex-start;
        margin: 500px -2025px;
        width:75%;
        height:50%;
        
    }
    .text6{
        width:250px;
    }
    .text3{
        margin:50px 1425px;
        font-size:20px;
        font-family: 'Roboto', sans-serif;
        color:white;
        width:250px;
        font-weight: bold;
        
    }
    .bg5{
        height:500px;
        width:430px;
    }
    .text4{
        text-align:center;
        font-size:20px;
        font-family: 'Roboto', sans-serif;
        color:aliceblue;
        padding:100px 25px;
    }
    .text5{
        text-align:center;
        font-size:20px;
        font-family: 'Roboto', sans-serif;
        color:aliceblue;
        padding:-30px 25px;
    }
    .bg3{
        width:430px;
    }
    #transition{
        background-color:black;
        height:450px;
        display: flex;
        flex-direction: column;
        width:430px;
    }
    .shapka{
        display: block;
        height: 80px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color:white;
        font-size: 30px;
        padding:40px 0px;
        width:430px;
    }
    .bg4{
        display:none;
    }
    .text6{
        color:black;
    }
    .p2{
        font-size:15px;
    }
}